@import "tailwindcss";
@import 'https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@layer utilities {
  /* Hide scrollbar for Chrome, Safari, and Opera */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for Firefox */
  .scrollbar-hidden {
    scrollbar-width: none;
  }

  /* Hide scrollbar for IE and Edge */
  .scrollbar-hidden {
    -ms-overflow-style: none;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), ui-sans-serif, system-ui;
}
